In [1]:
import pandas as pd
import numpy as np
from scipy import stats

# Hypothesis Test

In [2]:
theoretical_cost_intercept = 1000 
theoretical_cost_per_unit = 5     
sample_mean = 3050           
sample_size = 25                
mean_units_produced = 600         
std_units_produced = 25

In [3]:
mean_theoretical_cost = theoretical_cost_intercept + theoretical_cost_per_unit * mean_units_produced

In [4]:
std_error = (std_units_produced * theoretical_cost_per_unit) / np.sqrt(sample_size)

In [5]:
z_score = (sample_mean - mean_theoretical_cost) / std_error
p = 1 - stats.norm.cdf(z_score)

In [6]:
print("Theoretical mean weekly cost:", mean_theoretical_cost)
print("Standard error of the mean (SEM):", std_error)
print("Z-score:", z_score)
print("P:", p)

Theoretical mean weekly cost: 4000
Standard error of the mean (SEM): 25.0
Z-score: -38.0
P: 1.0

In [7]:
if p < 0.05:
    print('Reject Null hypothesis')
else:
    print('Fail to reject null hypothesis')

Fail to reject null hypothesis

# Chi2

In [8]:
from scipy.stats import chi2_contingency

In [11]:
df = pd.read_excel(r"C:\Users\Admin\Desktop\Hypothesis testing\Assignment Chi2.xlsx", index_col=0)
df

                  Smart Thermostat  Smart Light  Total
Satisfaction
Very Satisfied                  50           70    120
Satisfied                       80          100    180
Neutral                         60           90    150
Unsatisfied                     30           50     80
Very Unsatisfied                20           50     70
Total                          240          360    600

In [12]:
obs = pd.crosstab(index=df['Smart Thermostat'],columns=df['Smart Light'])
obs

Smart Light       50   70   90   100  360
Smart Thermostat
20                  1    0    0    0    0
30                  1    0    0    0    0
50                  0    1    0    0    0
60                  0    0    1    0    0
80                  0    0    0    1    0
240                 0    0    0    0    1

In [13]:
chi2, p, df, exp = stats.chi2_contingency(obs)

In [14]:
chi2,p,df,exp

(24.000000000000007,
 0.2423921616705121,
 20,
 array([[0.33333333, 0.16666667, 0.16666667, 0.16666667, 0.16666667],
        [0.33333333, 0.16666667, 0.16666667, 0.16666667, 0.16666667],
        [0.33333333, 0.16666667, 0.16666667, 0.16666667, 0.16666667],
        [0.33333333, 0.16666667, 0.16666667, 0.16666667, 0.16666667],
        [0.33333333, 0.16666667, 0.16666667, 0.16666667, 0.16666667],
        [0.33333333, 0.16666667, 0.16666667, 0.16666667, 0.16666667]]))

In [15]:
if p < 0.05:
    print('Reject Null hypothesis')
else:
    print('Fail to reject null hypothesis')

Fail to reject null hypothesis